.advantages {
    background-color: $color-darkest;
    padding: 0;
    &-item {
        padding-bottom: 15px;
        transition-property: transform, opacity;
        transition-duration: 0.8s;
        transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        &__icon {
            padding: 0 15px;
            flex-grow: 0;
            // text-align: center;
            i {
                color: $color-accent;
                font-size: 2.75rem;
                width: 60px;
                margin-top: 10px;
                text-align: center;
            }
        }
        &__caption {
           
        }
        &.hidden {
            opacity: 0;
            transform: translate(100px, 100px);
        }
    }
    &__image {
        background-position: center center;
        background-size: cover;
    }
    &__content {
        height: 100vh;
        padding: 100px 30px 90px 30px;
    }
    &__description {
        margin-bottom: 45px;
    }
}


@media (max-width: 991.8px) and (min-width: 768px) {
    .advantages .container-fluid {
        max-width: 720px;
    }
}