.contacts {
    form {
        .form-group,
        .form-row {
            transition-property: transform, opacity;
            transition-duration: 0.8s;
            transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            transition-delay: 0.5s;
            &.hidden {
                transition-delay: 0s;
                transform: translateY(100px);
                opacity: 0;
            }
        }
    }
    &__description {
        margin-bottom: 45px;
    }
}