* {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
html {
    font-size: 16px;
}
body {
    overflow-x: hidden;
    color: black;
    // width: 100%;
}
h1, h2, h3, h4, h5 {
    font-family: "Roboto Slab", serif;
}
p {
    color: rgb(84, 89, 95);
}
.about, .features, .gallery, .blog, .contacts {
    min-height: 100vh;

}
.about, .features, .gallery, .blog, .contacts, .advantages {
    overflow: hidden;
    padding: 105px 0 90px;
    width: 100%;
    display: flex;
    align-items: center;
    &__title {
        text-align: center;
        margin-bottom: 45px;
        transition-property: transform, opacity;
        transition-duration: 0.8s;
        transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        transition-delay: 0.5s;
        &.hidden {
            transition-delay: 0s;
            transform: translateY(100px);
            opacity: 0;
        }
    }
    &__description {
        text-align: center;
        transition-property: transform, opacity;
        transition-duration: 0.8s;
        transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        transition-delay: 0.5s;
        &.hidden {
            transition-delay: 0s;
            transform: translateY(100px);
            opacity: 0;
        }
        @media (min-width: $small) {
            margin-bottom: 45px;
        }
    }
    @media (max-width: $middle) and (min-width: $small) {
        padding: 105px 0 75px;
    }
    @media (max-width: $small) and (min-width: $xsmall) {
        padding: 90px 0 60px;
    }
    @media (max-width: $xsmall) {
        padding: 90px 0 45px;
    }
}

