.btn-danger {
  background-color: white;
  color: #e91414; }

.navbar-dark .navbar-nav .nav-link {
  text-align: center;
  text-decoration: none;
  color: white;
  position: relative; }
  .navbar-dark .navbar-nav .nav-link::after {
    content: "";
    position: absolute;
    left: 7px;
    right: 7px;
    bottom: 0;
    height: 3px;
    background-color: transparent;
    border-radius: 3px; }
  .navbar-dark .navbar-nav .nav-link:hover {
    color: white; }
    .navbar-dark .navbar-nav .nav-link:hover::after {
      -webkit-transform: translateY(-5px);
      -ms-transform: translateY(-5px);
      transform: translateY(-5px);
      -webkit-transition: -webkit-transform 0.5s;
      transition: -webkit-transform 0.5s;
      -o-transition: transform 0.5s;
      transition: transform 0.5s;
      transition: transform 0.5s, -webkit-transform 0.5s;
      background-color: white; }
  .navbar-dark .navbar-nav .nav-link.active {
    color: #ee3b24; }
    .navbar-dark .navbar-nav .nav-link.active::after {
      background-color: #ee3b24;
      -webkit-transform: translateY(-5px);
      -ms-transform: translateY(-5px);
      transform: translateY(-5px); }

.header-navbar {
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif; }

html {
  font-size: 16px; }

body {
  overflow-x: hidden; }

h1, h2, h3, h4, h5 {
  font-family: "Roboto Slab", serif; }

p {
  color: #54595f; }

.about, .features, .gallery, .blog, .contacts, .advantages {
  min-height: 100vh;
  padding: 105px 0 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .about__title, .features__title, .gallery__title, .blog__title, .contacts__title, .advantages__title {
    text-align: center;
    margin-bottom: 45px;
    -webkit-transition-property: opacity, -webkit-transform;
    transition-property: opacity, -webkit-transform;
    -o-transition-property: transform, opacity;
    transition-property: transform, opacity;
    transition-property: transform, opacity, -webkit-transform;
    -webkit-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    transition-duration: 0.8s;
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -o-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
    .about__title.hidden, .features__title.hidden, .gallery__title.hidden, .blog__title.hidden, .contacts__title.hidden, .advantages__title.hidden {
      -webkit-transform: translateY(100px);
      -ms-transform: translateY(100px);
      transform: translateY(100px);
      opacity: 0; }
  .about__description, .features__description, .gallery__description, .blog__description, .contacts__description, .advantages__description {
    text-align: center;
    -webkit-transition-property: opacity, -webkit-transform;
    transition-property: opacity, -webkit-transform;
    -o-transition-property: transform, opacity;
    transition-property: transform, opacity;
    transition-property: transform, opacity, -webkit-transform;
    -webkit-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    transition-duration: 0.8s;
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -o-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
    .about__description.hidden, .features__description.hidden, .gallery__description.hidden, .blog__description.hidden, .contacts__description.hidden, .advantages__description.hidden {
      -webkit-transform: translateY(100px);
      -ms-transform: translateY(100px);
      transform: translateY(100px);
      opacity: 0; }
  @media (max-width: 992px) and (min-width: 768px) {
    .about, .features, .gallery, .blog, .contacts, .advantages {
      padding: 105px 0 75px; } }
  @media (max-width: 768px) and (min-width: 576px) {
    .about, .features, .gallery, .blog, .contacts, .advantages {
      padding: 90px 0 60px; } }
  @media (max-width: 576px) {
    .about, .features, .gallery, .blog, .contacts, .advantages {
      padding: 90px 0 45px; } }

.slider {
  min-height: 100vh; }
  .slider p {
    color: white; }
  .slider__item {
    background-position: 50% 50%;
    background-size: cover; }

.about {
  background-color: white; }
  .about__items {
    margin-bottom: 45px; }
  .about__item {
    margin-bottom: 30px;
    -webkit-transition-property: opacity, -webkit-transform;
    transition-property: opacity, -webkit-transform;
    -o-transition-property: transform, opacity;
    transition-property: transform, opacity;
    transition-property: transform, opacity, -webkit-transform;
    -webkit-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    transition-duration: 0.8s;
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -o-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
    .about__item.hidden {
      -webkit-transform: translate(120px, 200px);
      -ms-transform: translate(120px, 200px);
      transform: translate(120px, 200px);
      opacity: 0; }
  .about__description {
    text-align: start; }

.features {
  background-color: #ececec; }
  .features__description {
    margin-bottom: 45px; }
  .features-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    -webkit-transition-property: opacity, -webkit-transform;
    transition-property: opacity, -webkit-transform;
    -o-transition-property: transform, opacity;
    transition-property: transform, opacity;
    transition-property: transform, opacity, -webkit-transform;
    -webkit-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    transition-duration: 0.8s;
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -o-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
    .features-item.hidden {
      -webkit-transform: translateY(120px);
      -ms-transform: translateY(120px);
      transform: translateY(120px);
      opacity: 0; }
      .features-item.hidden:first-of-type {
        -webkit-transform: translate(-100px, 120px);
        -ms-transform: translate(-100px, 120px);
        transform: translate(-100px, 120px); }
      .features-item.hidden:last-of-type {
        -webkit-transform: translate(100px, 120px);
        -ms-transform: translate(100px, 120px);
        transform: translate(100px, 120px); }
    .features-item__icon {
      margin-bottom: 40px; }
      .features-item__icon > i {
        position: relative;
        font-size: 80px;
        color: #e91414;
        -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg); }
        .features-item__icon > i > i {
          font-size: 30px;
          color: white;
          z-index: 1;
          position: absolute;
          top: calc(50% - 15px);
          bottom: calc(50% - 15px);
          right: calc(50% - 15px);
          left: calc(50% - 15px);
          -webkit-transform: rotate(-90deg);
          -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
          text-align: center; }
          .features-item__icon > i > i.fa-code {
            right: calc(50% - 18px);
            left: calc(50% - 18px); }
    .features-item__title {
      text-align: center; }
    .features-item__description {
      text-align: center; }

.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .gallery .container-fluid {
    padding: 0 30px; }
  .gallery-item {
    padding: 0 5px 10px 5px;
    position: relative; }
    .gallery-item__image {
      width: 100%;
      -webkit-transition: -webkit-transform 0.5s;
      transition: -webkit-transform 0.5s;
      -o-transition: transform 0.5s;
      transition: transform 0.5s;
      transition: transform 0.5s, -webkit-transform 0.5s; }
    .gallery-item__wrapper {
      position: relative;
      overflow: hidden;
      max-height: 33.33vh;
      min-height: 200px; }
    .gallery-item__caption {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 1;
      -webkit-transition: background-color 0.5s;
      -o-transition: background-color 0.5s;
      transition: background-color 0.5s;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
    .gallery-item__link {
      position: absolute;
      top: -50px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      width: 45px;
      height: 45px;
      background-color: #e91414;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-transition: top 0.5s;
      -o-transition: top 0.5s;
      transition: top 0.5s; }
      .gallery-item__link i {
        color: white;
        height: 16px; }
    .gallery-item__title {
      position: absolute;
      bottom: -40px;
      color: white;
      font-weight: bold;
      -webkit-transition: bottom 0.5s;
      -o-transition: bottom 0.5s;
      transition: bottom 0.5s; }
    .gallery-item:hover .gallery-item__caption {
      background-color: rgba(0, 0, 0, 0.8); }
    .gallery-item:hover .gallery-item__image {
      -webkit-transform: scale(1.5);
      -ms-transform: scale(1.5);
      transform: scale(1.5); }
    .gallery-item:hover .gallery-item__link {
      top: 50px; }
    .gallery-item:hover .gallery-item__title {
      bottom: 50px; }
    .gallery-item:first-of-type {
      -webkit-transition-property: opacity, -webkit-transform;
      transition-property: opacity, -webkit-transform;
      -o-transition-property: transform, opacity;
      transition-property: transform, opacity;
      transition-property: transform, opacity, -webkit-transform;
      -webkit-transition-duration: 0.8s;
      -o-transition-duration: 0.8s;
      transition-duration: 0.8s;
      -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      -o-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
      .gallery-item:first-of-type.hidden {
        -webkit-transform: translate(-50px, 40px) scale(0.5);
        -ms-transform: translate(-50px, 40px) scale(0.5);
        transform: translate(-50px, 40px) scale(0.5);
        opacity: 0; }
    .gallery-item:nth-of-type(2) {
      -webkit-transition-property: opacity, -webkit-transform;
      transition-property: opacity, -webkit-transform;
      -o-transition-property: transform, opacity;
      transition-property: transform, opacity;
      transition-property: transform, opacity, -webkit-transform;
      -webkit-transition-duration: 0.8s;
      -o-transition-duration: 0.8s;
      transition-duration: 0.8s;
      -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      -o-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      -webkit-transition-delay: 0.3s;
      -o-transition-delay: 0.3s;
      transition-delay: 0.3s; }
      .gallery-item:nth-of-type(2).hidden {
        -webkit-transform: translate(-20px, 40px) scale(0.5);
        -ms-transform: translate(-20px, 40px) scale(0.5);
        transform: translate(-20px, 40px) scale(0.5);
        opacity: 0; }
    .gallery-item:nth-of-type(3) {
      -webkit-transition-property: opacity, -webkit-transform;
      transition-property: opacity, -webkit-transform;
      -o-transition-property: transform, opacity;
      transition-property: transform, opacity;
      transition-property: transform, opacity, -webkit-transform;
      -webkit-transition-duration: 0.8s;
      -o-transition-duration: 0.8s;
      transition-duration: 0.8s;
      -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      -o-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      -webkit-transition-delay: 0.5s;
      -o-transition-delay: 0.5s;
      transition-delay: 0.5s; }
      .gallery-item:nth-of-type(3).hidden {
        -webkit-transform: translate(20px, 40px) scale(0.5);
        -ms-transform: translate(20px, 40px) scale(0.5);
        transform: translate(20px, 40px) scale(0.5);
        opacity: 0; }
    .gallery-item:nth-of-type(4) {
      -webkit-transition-property: opacity, -webkit-transform;
      transition-property: opacity, -webkit-transform;
      -o-transition-property: transform, opacity;
      transition-property: transform, opacity;
      transition-property: transform, opacity, -webkit-transform;
      -webkit-transition-duration: 0.8s;
      -o-transition-duration: 0.8s;
      transition-duration: 0.8s;
      -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      -o-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      -webkit-transition-delay: 0.3s;
      -o-transition-delay: 0.3s;
      transition-delay: 0.3s; }
      .gallery-item:nth-of-type(4).hidden {
        -webkit-transform: translate(50px, 40px) scale(0.5);
        -ms-transform: translate(50px, 40px) scale(0.5);
        transform: translate(50px, 40px) scale(0.5);
        opacity: 0; }
    .gallery-item:nth-of-type(5) {
      -webkit-transition-property: opacity, -webkit-transform;
      transition-property: opacity, -webkit-transform;
      -o-transition-property: transform, opacity;
      transition-property: transform, opacity;
      transition-property: transform, opacity, -webkit-transform;
      -webkit-transition-duration: 0.8s;
      -o-transition-duration: 0.8s;
      transition-duration: 0.8s;
      -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      -o-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      -webkit-transition-delay: 0.2s;
      -o-transition-delay: 0.2s;
      transition-delay: 0.2s; }
      .gallery-item:nth-of-type(5).hidden {
        -webkit-transform: translate(0px, 20px) scale(0.5);
        -ms-transform: translate(0px, 20px) scale(0.5);
        transform: translate(0px, 20px) scale(0.5);
        opacity: 0; }
    .gallery-item:nth-of-type(6) {
      -webkit-transition-property: opacity, -webkit-transform;
      transition-property: opacity, -webkit-transform;
      -o-transition-property: transform, opacity;
      transition-property: transform, opacity;
      transition-property: transform, opacity, -webkit-transform;
      -webkit-transition-duration: 0.8s;
      -o-transition-duration: 0.8s;
      transition-duration: 0.8s;
      -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      -o-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      -webkit-transition-delay: 0.5s;
      -o-transition-delay: 0.5s;
      transition-delay: 0.5s; }
      .gallery-item:nth-of-type(6).hidden {
        -webkit-transform: translate(30px, 40px) scale(0.5);
        -ms-transform: translate(30px, 40px) scale(0.5);
        transform: translate(30px, 40px) scale(0.5);
        opacity: 0; }
    .gallery-item:nth-of-type(7) {
      -webkit-transition-property: opacity, -webkit-transform;
      transition-property: opacity, -webkit-transform;
      -o-transition-property: transform, opacity;
      transition-property: transform, opacity;
      transition-property: transform, opacity, -webkit-transform;
      -webkit-transition-duration: 0.8s;
      -o-transition-duration: 0.8s;
      transition-duration: 0.8s;
      -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      -o-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      -webkit-transition-delay: 0.3s;
      -o-transition-delay: 0.3s;
      transition-delay: 0.3s; }
      .gallery-item:nth-of-type(7).hidden {
        -webkit-transform: translate(50px, 30px) scale(0.5);
        -ms-transform: translate(50px, 30px) scale(0.5);
        transform: translate(50px, 30px) scale(0.5);
        opacity: 0; }
    .gallery-item:nth-of-type(8) {
      -webkit-transition-property: opacity, -webkit-transform;
      transition-property: opacity, -webkit-transform;
      -o-transition-property: transform, opacity;
      transition-property: transform, opacity;
      transition-property: transform, opacity, -webkit-transform;
      -webkit-transition-duration: 0.8s;
      -o-transition-duration: 0.8s;
      transition-duration: 0.8s;
      -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      -o-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
      .gallery-item:nth-of-type(8).hidden {
        -webkit-transform: translate(-50px, 40px) scale(0.5);
        -ms-transform: translate(-50px, 40px) scale(0.5);
        transform: translate(-50px, 40px) scale(0.5);
        opacity: 0; }

.blog {
  background-color: #ececec; }
  .blog > .container {
    padding: 0 30px; }
  .blog-item a {
    text-decoration: none;
    color: inherit; }
  .blog-item__image {
    overflow: hidden;
    padding: 0;
    -webkit-transition: opacity, -webkit-transform;
    transition: opacity, -webkit-transform;
    -o-transition: transform, opacity;
    transition: transform, opacity;
    transition: transform, opacity, -webkit-transform;
    -webkit-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    transition-duration: 0.8s;
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -o-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
    .blog-item__image img {
      -webkit-transition: -webkit-transform 0.5s;
      transition: -webkit-transform 0.5s;
      -o-transition: transform 0.5s;
      transition: transform 0.5s;
      transition: transform 0.5s, -webkit-transform 0.5s;
      width: 100%; }
  .blog-item__description {
    font-size: 0.9rem; }
  .blog-item__post {
    background-color: white;
    padding: 15px;
    -webkit-transition: opacity, -webkit-transform;
    transition: opacity, -webkit-transform;
    -o-transition: transform, opacity;
    transition: transform, opacity;
    transition: transform, opacity, -webkit-transform;
    -webkit-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    transition-duration: 0.8s;
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -o-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  .blog-item__date {
    margin: 15px 0; }
  .blog-item:hover .blog-item__image img {
    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5); }
  .blog-item:hover .blog-item__post {
    background-color: #e91414;
    color: white;
    -webkit-transition: background-color 1s ease;
    -o-transition: background-color 1s ease;
    transition: background-color 1s ease; }
  .blog-item:nth-of-type(1).hidden .blog-item__image {
    -webkit-transform: translateX(-200px);
    -ms-transform: translateX(-200px);
    transform: translateX(-200px);
    opacity: 0; }
  .blog-item:nth-of-type(1).hidden .blog-item__post {
    -webkit-transition-delay: 0.2s;
    -o-transition-delay: 0.2s;
    transition-delay: 0.2s;
    -webkit-transform: translate(-200px, 200px);
    -ms-transform: translate(-200px, 200px);
    transform: translate(-200px, 200px);
    opacity: 0; }
  .blog-item:nth-of-type(2).hidden .blog-item__image {
    -webkit-transition-delay: 0.5s;
    -o-transition-delay: 0.5s;
    transition-delay: 0.5s;
    -webkit-transform: translate(200px, 200px);
    -ms-transform: translate(200px, 200px);
    transform: translate(200px, 200px);
    opacity: 0; }
  .blog-item:nth-of-type(2).hidden .blog-item__post {
    -webkit-transition-delay: 0.8s;
    -o-transition-delay: 0.8s;
    transition-delay: 0.8s;
    -webkit-transform: translateX(200px);
    -ms-transform: translateX(200px);
    transform: translateX(200px);
    opacity: 0; }
  .blog-item:nth-of-type(3).hidden .blog-item__image {
    -webkit-transform: translate(-200px, 200px);
    -ms-transform: translate(-200px, 200px);
    transform: translate(-200px, 200px);
    opacity: 0; }
  .blog-item:nth-of-type(3).hidden .blog-item__post {
    -webkit-transition-delay: 0.2s;
    -o-transition-delay: 0.2s;
    transition-delay: 0.2s;
    -webkit-transform: translateX(-200px);
    -ms-transform: translateX(-200px);
    transform: translateX(-200px);
    opacity: 0; }
  .blog-item:nth-of-type(4).hidden .blog-item__image {
    -webkit-transition-delay: 0.5s;
    -o-transition-delay: 0.5s;
    transition-delay: 0.5s;
    -webkit-transform: translateX(200px);
    -ms-transform: translateX(200px);
    transform: translateX(200px);
    opacity: 0; }
  .blog-item:nth-of-type(4).hidden .blog-item__post {
    -webkit-transition-delay: 0.8s;
    -o-transition-delay: 0.8s;
    transition-delay: 0.8s;
    -webkit-transform: translateY(200px);
    -ms-transform: translateY(200px);
    transform: translateY(200px);
    opacity: 0; }

.advantages {
  background-color: #d8d8d8;
  padding: 0; }
  .advantages-item {
    padding-bottom: 15px;
    -webkit-transition-property: opacity, -webkit-transform;
    transition-property: opacity, -webkit-transform;
    -o-transition-property: transform, opacity;
    transition-property: transform, opacity;
    transition-property: transform, opacity, -webkit-transform;
    -webkit-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    transition-duration: 0.8s;
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -o-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
    .advantages-item__icon {
      padding: 0 15px;
      -webkit-box-flex: 0;
      -ms-flex-positive: 0;
      flex-grow: 0; }
      .advantages-item__icon i {
        color: #e91414;
        font-size: 2.75rem;
        width: 60px;
        margin-top: 10px;
        text-align: center; }
    .advantages-item.hidden {
      opacity: 0;
      -webkit-transform: translate(100px, 100px);
      -ms-transform: translate(100px, 100px);
      transform: translate(100px, 100px); }
  .advantages__image {
    background-position: center center;
    background-size: cover; }
  .advantages__content {
    height: 100vh;
    padding: 105px 30px 90px 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    @media (max-width: 992px) and (min-width: 768px) {
      .advantages__content {
        padding-top: 105px;
        padding-bottom: 75px; } }
    @media (max-width: 768px) and (min-width: 576px) {
      .advantages__content {
        padding-top: 90px;
        padding-bottom: 60px; } }
    @media (max-width: 576px) {
      .advantages__content {
        padding-top: 90px;
        padding-bottom: 45px; } }
  .advantages__description {
    margin-bottom: 45px; }

@media (max-width: 991.8px) and (min-width: 768px) {
  .advantages .container-fluid {
    max-width: 720px; } }

.contacts form .form-group,
.contacts form .form-row {
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  -o-transition-property: transform, opacity;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
  -webkit-transition-duration: 0.8s;
  -o-transition-duration: 0.8s;
  transition-duration: 0.8s;
  -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  -o-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  .contacts form .form-group.hidden,
  .contacts form .form-row.hidden {
    -webkit-transform: translateY(100px);
    -ms-transform: translateY(100px);
    transform: translateY(100px);
    opacity: 0; }

.contacts__description {
  margin-bottom: 45px; }

.footer {
  font-size: 0.9rem; }
  .footer h3 {
    color: #ececec; }
    .footer h3::first-letter {
      color: #e91414; }
  .footer p {
    color: #d8d8d8; }
  .footer li {
    position: relative; }
  .footer a {
    color: #d8d8d8;
    text-decoration: none; }
    .footer a:hover {
      color: white; }
  .footer ul {
    padding-left: 30px;
    list-style: none; }
  .footer__top {
    background-color: #282828;
    padding: 40px 0; }
    .footer__top ul > li > i {
      color: #d8d8d8;
      position: absolute;
      left: -28px;
      top: 3px; }
  .footer__bottom {
    padding: 30px 0;
    text-align: center;
    background-color: #343434; }
  .footer .to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 45px;
    height: 45px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    border: none; }
    .footer .to-top i {
      color: rgba(255, 255, 255, 0.9); }
